.landingPageContainer {
  width: 100vw;
  height: 100vh;
  background: url("../public/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

.landingPageContainer nav {
  padding-inline: 1.2rem;
  padding-block: 1.6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.landingPageContainer nav h2 {
  font-size: 1.8rem;
  font-weight: 500;
}

.landingPageContainer nav .navlist div[role="button"] {
  background-color: #d97500;
  padding: 0.4rem 1.6rem;
  border-radius: 0.2rem;
  align-items: baseline;
  margin-top: -0.3rem;
}

.landingPageContainer nav .navlist {
  display: flex;
  gap: 1.6rem;
  cursor: pointer;
}

.landingPageContainer nav .navlist p {
  font-weight: 500;
  font-size: large;
}

.landingPageContainer nav .navlist button {
  background-color: #d97500;
  border-radius: 0.4rem;
  width: fit-content;
  cursor: pointer;
}

.landingMainContainer {
  display: flex;
  justify-content: space-between;
  padding-inline: 3rem;
  height: 80vh;
  align-items: center;
}

.landingMainContainer > div:nth-child(1) {
  font-size: 2.3rem;
}

.landingMainContainer > div p {
  font-size: 1.6rem;
}

.landingMainContainer > div:nth-child(1) div[role="button"] {
  margin-top: 1.3rem;
  padding: 0.8rem 1.6rem;
  background-color: #d97500;
  border-radius: 0.4rem;
  width: fit-content;
  cursor: pointer;
}

.landingMainContainer > div:nth-child(1) div[role="button"] a {
  text-decoration: none;
  color: white;
  font-size: 1.7rem;
}

.landingMainContainer > div:nth-child(2) img {
  width: auto;
  height: 70vh;
}

/* Home Page CSS */
.navBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 20px;
  text-align: center;
}
.meetContainer {
  display: flex;
  padding-inline: 20px;
  height: 80vh;
  gap: 10vw;
  justify-content: center;
}

.leftPanel {
  height: 100%;
  display: flex;
  align-items: center;
}

.leftPanel > div > div {
  margin-top: 20px;
}

.rightPanel {
  display: flex;
  align-items: center;
}

.rightPanel > img {
  width: 30vw;
  height: auto;
  border-radius: 20px;
}
